/* ======== global ======== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #121725;
    font-family: 'Chivo', sans-serif;
}

body::before {
    content: "";
    background-image: url(/assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .1;
}

/* ======== type ======== */

h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 2.375rem;
    color: #54E6AF;
    text-align: center;
    margin-bottom: 16px;
}

.highlight {
    color: #fff;
}

p {
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 25px;
    color: #C2CBE5;
    text-align: center;
    margin-bottom: 1.5625rem;
}

.error {
    color: red;
}

/* ======== elements ======== */

button, input {
    font-family: inherit;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.75rem;
    padding: 12px 32px;
    display: block;
}

input {
    background-color: #2C344B;
    border: none;
    border-radius: 100px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    margin-bottom: 16px;
}

input::placeholder {
    color:rgba(255, 255, 255, .5)
}

button {
    background-color: #54E6AF;
    border-radius: 50px;
    border: none;
    width: 100%;
}

button:hover {
    background-color: #B3FFE2;
}

:focus {
    outline: dashed 2px #54E6AF;
    outline-offset: 2px;
}

::-moz-focus-inner {
    border: 0;
}


/* ======== layout ======== */

.container {
    padding: 0 24px;
}

.pod-logo {
    display: block;
    margin: 64px auto 56px;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form {
    order: 1
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 0;
    height: 17px;
    width: 100%;
    margin-bottom: 48px;
}

.partners__item img,
.partners__item 
 {
    height: inherit;
}



/* ======== test

/* .partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 0;
    height: auto;
    margin-bottom: 48px;
}

.partners__item {
    margin-left: 16px;
    width: inherit;
}

.partners__item img {
    max-height: 100%;
    height: inherit;
}

.partners__item:first-child {
    margin-left: 0;
} */

/* ======== media queries ======== */

@media (min-width: 640px) {


    /* ==== global ==== */

    .container {
        padding: 48px 0 0 40px;
    }

    body::before {
        border: red soild 1px;
        background-image: url(/assets/tablet/image-host.jpg), url(/assets/desktop/bg-pattern-dots.svg);
        background-position: top right, bottom left;
        opacity: 1;
        background-size: initial;
        z-index: -1;
    }

    /* ==== type ==== */

    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: left;
        margin-top: 92px;
        margin-bottom: 32px;
    }

    p {
        margin-bottom: 40px;
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-align: left;
        max-width: 448px;
    }

    /* ==== elements ==== */

    button, input {
        padding: 8px 24px;
        display: inline;
        width: fit-content;
        margin-bottom: 0px;
    }

    button {
        width: fit-content;
    }

    .pod-logo {
        margin: 0 0;
        margin-bottom: 150px;
    }

    .form-container {
        margin-bottom: 64px;
    }

    /* ==== layout ==== */

    main {
        background-color: #121725;
        width: 83vw;
        margin: 0;
        padding-right: 24px;
        max-width: 680px;
    }

    .form-container {
        background-color: #2C344B;
        width: fit-content;
        border-radius: 100px;
        padding: 5px
    }

    form {
        order: 0;
    }

    .partners {
        max-width: 536px;
    }

    .logo {
        margin-top: 64px;
        margin-bottom: 48px;
    }
}

@media (min-width: 1200px) {
    /* ======== global ======== */
    body::before {
        background-image: url(/assets/desktop/image-host.jpg), url(/assets/desktop/bg-pattern-dots.svg);
        background-position: center right, right 80vh;
    }
    /* ======== type ======== */
    h1 {
        font-size: 3.25rem;
        line-height: 3.875rem;
        margin-bottom: 24px;
    }
    /* ======== elements ======== */
    /* ======== layout ======== */

    .container {
        padding: 102px 0 0 165px;
    }

    .pod-logo {
        margin-bottom: 103px;
    }
    
    main {
        width: 60vw;
        max-width: 724px;
    }
}